__pycache__/
*.pyc
*.pyo
*.pyd
.Python
raw_video/*.mp4
config/roi.yaml
result/
result/frames_preview/
result/test_frames/
result/output.json
result/graph.png
.vscode/
.idea/
*.egg-info/
dist/
build/
.venv/
venv/
env/
*.log
